.header-wrapper{
    margin-left:0;
    margin-right: auto;
    position: relative;
    resize: both;
}

.footer-wrapper{
     margin-left: 0;
     margin-right: 0;
     background-color: #C7C7C7;
 }

.header {
    overflow: hidden;
    background-color: #c6c4c6;
    width: auto;
    margin-bottom:0;
}


.footer {
    overflow: hidden;
    background-color: #c6c4c6;
    width: auto;
    margin-bottom:0;
}

.header a {
    float: left;
}

.header a.logo {

    font-size: 25px;
    font-weight: bold;
}

.header-right {
    float: right;
    height: 120px
}
.header-right > a{
    color: #4D4D59;
    font-size: large;
    padding: 45px 10px;
}

/*navbar*/

nav{
    width:100%;
    float: left;
    background-color: #4D4D59;
    margin-top: 0;
}

/*main*/
.container{
    display: grid;
    grid-template-areas:"prez prez prez"
                        "tbl1 ev ev"
                        "tbl1 an an"
                        "usr_onl usr_data site_data"
                        "extra extra extra";

    grid-template-rows: 1% 1% 1% 1% 1% 1%;
    grid-gap: 20px;
    margin-bottom: auto;
}


#prez{
    grid-area: prez;

}

#prez > img{
    margin: 0 25% 0;
    width: 1024px;
    height: 400px;
    float: left;
}
#tbl1{
    grid-area: tbl1;
}
#ev{
    grid-area: ev;
    margin-left: 0;
}
#ev > ul{
    margin-left: 0;
}
#ev > ul > li{
    display: inline-grid;
    margin-left: 50px
}
#an{
    grid-area: an;
}

#usr_data{
    grid-area: usr_data;
}
#usr_onl{
    grid-area: usr_onl;
}
#site_data{
    grid-area: site_data;
}
#extra{
    grid-area: extra;
}
#extra > ul{
    margin-left: 50px
}
#extra > ul > li{
    display: inline-grid;
    margin-left: 50px
}



/*footer*/
