<!DOCTYPE html>
<html lang="ro" xmlns="http://www.w3.org/1999/xhtml" style="background: #c6c4c6">

<head>
    <title>
        Oops..
    </title>

</head>



<body>
    <div class="header-wrapper" style="width: max-content">

        <div style="position: center">
            <a href="/" class="logo"><img src="./res/ezgif.com-gif-maker.gif" alt="logo"
                                          style="height: 130px; width: 320px;"></a>
        </div>

    </div>

    <h1 style="color: #4D4D59">(404) Pagina nu a fost gasita (404)</h1>

</body>

</html>