<!DOCTYPE html>
<html lang="ro" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="description" content="Mgazin online de instrumente muzicale">
    <meta name="keywords"
          content="muzica, instrument, instrumente, chitara, electrica, acustica, electro-acustica, corzi, corzi de chitara, corzi de bass, ibanez, warwick, fender, squire, jazz, pian, claviatura, midi, pian electric, pianina, orga, korg, roland, tobe, bete, fete tobe">

    <%-
    include("../fragmente/head.ejs")
    %>
    <title>Musxcore</title>

</head>

<body>

<%-
include("../fragmente/header.ejs")
%>


<main>

    <section id="faq">

        <h2><abbr title="frequently asked questions" style="color: darkgray">FAQ</abbr></h2>

        <details class="faq">
            <summary>Cate tipuri de chitare acustice exista?</summary>
            <p>
                <b>Chitarele</b> <b>acustice</b> se împart în <b>chitare</b> <b>clasice</b> (cu <b>corzi de nylon</b>,
                folosite în studiul <b>muzicii</b> clasice)
                și
                chitare acustice, cu <b>corzi de oțel</b>, folosite pentru majoritatea genurilor <b>muzicale</b>. Deși
                există o
                preconcepție că o <b>chitară clasică</b> este potrivită unui începător datorită <b>corzi</b>lor ceva mai
                moi, este
                recomandat ca primul <b>instrument</b> să fie ales nu după acest criteriu ci după muzica ce urmează să
                fie
                studiată
            </p>
        </details>


        <details class="faq">
            <summary>Dupa ce criterii trebuie sa aleg chitara acustica?</summary>
            <p>
                Este de recomandat ca instrumentul să fie ales în funcție de muzica ce urmează să fie cântată – cel mai
                potrivit instrument pentru muzica clasică este chitara cu corzi de nylon însă pentru mai toate genurile
                rămase, soluția cea mai bună este de regulă o chitară acustica tip western, cu o cutie de rezonanță mare
                și
                corzi de oțel. Bineînțeles, recomandarea profesorului este foarte importantă.
            </p>
        </details>

        <details class="faq">
            <summary>Care sunt cele mai bune branduri de chitare acustice?</summary>
            <p>
                <q>Preferăm Ibanez, Takamine, PRS și Pulse</q>
            </p>
        </details>


        <details class="faq" >
            <summary>Ce genuri de muzica se pot canta la o chitara acustica?</summary>
            <p>
                Chitara acustică este un instrument foarte polivalent, folosit în toate genurile muzicale, de la folk la
                rock, blues și chiar muzică populară
            </p>
        </details>

    </section>
</main>


<%-
include("../fragmente/footer.ejs")
%>


</body>


</html>