<footer>
<div class="footer-wrapper" style="margin-bottom: 0">
    <div class="footer">
        <a href="index.html"> <img src="./res/logo.png" alt="logo"
                                   style="width: 200px; height: 100px; float: right"/></a>

        <section style="margin-top: 50px">
            <address style="margin-left: 20px; display: block; font-style: italic; color: darkgray">
                <a href="tel:+4712345678" style="color: #4D4D59">+47 123 45 678</a><br>
                <a href="mailto:musxcore@jmail.ro" style="color: #4D4D59">musxcore@jmail.ro</a><br>
                <a href="index.html" style="color: #4D4D59">musxcore.com</a> <br>
                <a style="color: #4D4D59"> Box 564, Disneyland <br>
                    USA </a>
            </address>

            <div class="pos pos-center">

                <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"
                   style="margin-right:20px; inset-inline: auto"></a>
                <a href="https://www.instagram.com" target="_blank" class="fa fa-instagram"
                   style="margin-right:20px"></a>
                <a href="https://www.twitter.com" target="_blank" class="fa fa-twitter"
                   style="margin-right:20px"></a>
            </div>
            <small style="color: #4D4D59">
                &#169; Victor Andrei Cotescu
                <time datetime="2021-10-07">2021-10-07</time>
            </small>
        </section>

    </div>
</div>

</footer>