<header>

    <div class="header-wrapper" style="z-index: 1">

        <div class="header" style="opacity: 85%">
            <div id="#logo" >
                <a href="/" style="width: 500px">
                    <img src="/res/ezgif.com-gif-maker.gif" alt="logo" style="height: 130px; width: 320px">
                </a>
            </div>
        </div>
        <!--<div style="position: absolute; float: left; width: 1903px">
            <img src="res/background.jpg" alt="prez" style="width: 1903px; height: 4000px; opacity: 80%; z-index: 9999; float:left;">
        </div>-->
        <nav style="opacity: 85%">
            <ul id="nav">
                <li><i class="fas fa-bars"> </i>
                    <ul>
                        <li><i class="fas fa-angle-right" >Chitara/Bass</i>
                            <ul class="subs">
                                <li><a href="/chit_ac">Acustice</a>
                                <li><a href="/chit_el">Electrice</a>
                                <li><a href="/chit_elac">Electro-Acustice</a>
                            </ul>
                        </li>

                        <li><i class="fas fa-angle-right">Claviaturi</i>
                            <ul class="subs">
                                <li><a href="/clav">Claviaturi</a>
                                <li><a href="/piane">Piane</a>
                                <li><a href="/piane_dg">Piane Digitale</a>
                                <li><a href="/midi">MIDI</a>
                            </ul>
                        </li>

                        <li><i class="fas fa-angle-right">Tobe/Percutie</i>
                            <ul class="subs">
                                <li><a href="/tobe">Tobe</a>
                                <li><a href="/tobe_dg">Tobe electronice</a>
                                <li><a href="/cinele">Cinele</a>
                                <li><a href="/acc_t">Accesorii</a>
                            </ul>
                        </li>

                        <li><i class="fas fa-angle-right">Accesorii</i>
                            <ul class="subs">
                                <li><a href="#">Claviaturi</a>
                                <li><a href="#">Piane</a>
                                <li><a href="#">Piane Digitale</a>
                                <li><a href="#">MIDI</a>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li><a href="/produse">Produse</a></li>
                <li><a href="/despre">Despre</a></li>

                <li><a href="/faq">FAQ</a></li>

                <li class="nav-right" style="float:right"><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                <li class="nav-right" style="float:right"><a href="#"><i class="fas fa-user"></i> </a></li>
            </ul>
        </nav>


    </div>

</header>